<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="commonHead">
    <meta charset="UTF-8">
    <title th:include=":: #title">ØnskeListen</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header th:fragment="commonHeader">
        <h1> Ønskelisten</h1>
        <nav class="top-navigation">
            <a class="forside" href="/">Forside</a>
            <a class="søg" href="/visØnskeseddeller">Vis ønskeseddel</a>
            <a class="opret" href="/opretØnskeseddel">Opret ønskeseddel</a>
        </nav>
    </header>
</body>
</html>