<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">SøgeListe</title>
</head>
<body id="søg">
<header th:replace="fragments/header :: commonHeader"></header>
<div class="main-wrapper">
    <p> SøgeListe</p>
    <div class="container">
        <h1>Find den ønskede ønskeliste, ved at indtaste emailen der har oprettet den, her</h1>
        <div id="form-wrapper">
            <form id="sign-up-form" method="POST" action="/test">
                <label for="test">Email</label>
                <input name="test-input" id="test" type="text">
                <input type="submit">
            </form>
        </div>
    <footer th:replace="fragments/footer :: commonFooter"></footer>
</div>
</body>
</html>